body{
    background-color: rgb(100, 100, 100);
}

form{
    margin-bottom: 5em;
}

footer{

}

#gasTracker .form-group{
    background-color: rgb(200, 200, 200);
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

#gasTracker footer{
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}