body{
    background-color: rgb(100, 100, 100);
}

form{
    margin-bottom: 5em;
}

#gasTracker .form-group{
    background-color: rgb(200, 200, 200);
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

#gasTracker footer{
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#gasTracker #submit-button{
    background-color: red;
    height: 4rem;
    font-size: 1.5rem;
}

/* Up to iPhone X*/
/* @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
    #gasTracker #submit-button{
        background-color: rgb(0, 0, 0);
    }
} */