form{
    margin-bottom: 5rem;
    /* margin-top: 5em; */
}

#gasTracker .form-group{
    background-color: rgb(200, 200, 200);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.bottom-footer{
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#submit-button{
    background-color: red;
    height: 4rem;
    font-size: 1.5rem;
    z-index: 2;
}

/* Up to iPhone X*/
/* @media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3){
    #gasTracker #submit-button{
        background-color: rgb(0, 0, 0);
    }
} */
